<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/styles.css" />
    <style>

      .container {
        padding-top: 30px;
        
      }
    </style>
  <title>Search: <%= shapes %></title>
</head>
<body><nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/">UFO Sightings</a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav nav">
          <li class="nav-item">
            <a class="nav-link" href="/shapes">Shapes </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sighting">Entry form</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
        </ul>
      <div>
    </nav>
    <div class="header">
      <h3>Search: <%= shapes %></h3>
      <p>Details of sightings</p>
    </div>

    
  <% for (let i = 0; i < content.length; i += 1) { %>
  <% if (content[i].shape == shapes) { %>
    <div class="container shadow-sm p-3 mb-5 bg-white rounded">
    <div class="row">
      <div class="col-md-2">
        <p>Text: </p>
      </div>
      <div class="col-md-10">
  <p><%= content[i].text %></p>
  </div>
  </div>
  <div class="row">
      <div class="col-md-2">
        <p>Date/ time: </p>
      </div>
      <div class="col-md-10">
  <p><%= content[i].date_time %></p>
  </div>
  </div>
  <div class="row">
      <div class="col-md-2">
        <p>City: </p>
      </div>
      <div class="col-md-10">
  <p><%= content[i].city %></p>
  </div>
  </div>
  <div class="row">
      <div class="col-md-2">
        <p>State: </p>
      </div>
      <div class="col-md-10">
  <p><%= content[i].state %></p>
  </div>
  </div>
  <div class="row">
      <div class="col-md-2">
        <p>Summary: </p>
      </div>
      <div class="col-md-10">
  <p><%= content[i].summary %></p>
  </div>
  </div>
  <div class="row">
      <div class="col-md-2">
        <p>Submission date: </p>
      </div>
      <div class="col-md-10">
  <p><%= content[i].date_submitted %></p>
  </div>
  </div>
  </div>

  <% } %>
  <% } %>
  

   <!-- Optional JavaScript -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"
    ></script>
</body>
</html>